attrs==21.4.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
decorator==5.1.1
frictionless==4.28.2
idna==3.3
ijson==3.1.4
isodate==0.6.1
jsonlines==3.0.0
jsonschema==4.4.0
marko==1.2.0
numpy==1.22.3
pandas==1.4.2
petl==1.7.8
pyrsistent==0.18.1
python-dateutil==2.8.2
python-slugify==6.1.1
pytz==2022.1
PyYAML==6.0
requests==2.27.1
rfc3986==2.0.0
shellingham==1.4.0
simpleeval==0.9.12
six==1.16.0
stringcase==1.2.0
text-unidecode==1.3
typer==0.4.1
urllib3==1.26.9
validators==0.18.2
